{% extends 'base.html' %}

{% block title %}Add New Region{% endblock %}

{% block content %}

<h2>Add New Region</h2>

<form method="POST" action="{% url 'create_region' %}">
    {% csrf_token %}
     <div style="margin-bottom: 15px;">
    <label for="region" style="display: block; margin-bottom: 5px;">Region:</label>
    <input type="text" name="region" id="region" style="width: 80%; padding: 8px;">
     </div>
     <div style="margin-bottom: 15px;">
    <label for="cluster" style="display: block; margin-bottom: 5px;">Cluster:</label>
    <input type="text" name="cluster" id="cluster" style="width: 80%; padding: 8px;">
     </div>
    <label for="country" style="display: block; margin-bottom: 5px;">Country:</label>
    <input type="text" name="country" id="country" style="width: 80%; padding: 8px;">

    <div style="text-align: center; margin-top: 20px;">
        <button type="submit" style="background-color: #00677F; color: white; padding: 10px 20px; border: none; border-radius: 10px;">Submit</button>
        <a href="{% url 'region_page' %}" style="background-color: red; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; margin-left: 10px;">Cancel</a>
    </div>
</form>

{% endblock %}
