{% extends 'base.html' %}

{% block title %}Process Level 3 Percentage{% endblock %}

{% block content %}
<center>
 <h1>Process Completion Percentage per Country</h1>
 <h2>Welcome to my first program created using Django !!!</h2>
</center>

<form method="get" action="{% url 'process_comp_per_country' %}">
    <label for="region">Select a Region:</label>
    <select name="region" id="region">
        <option value="">--Select Region--</option>
        {% for region in regions %}
        <option value="{{ region }}" {% if region == selected_region %}selected{% endif %}>{{ region }}</option>
        {% endfor %}
    </select>

    <label for="cluster">Select a Cluster:</label>
    <select name="cluster" id="cluster" {% if not selected_region %}disabled{% endif %}>
        <option value="">--Select Cluster--</option>
        {% if selected_region %}
        {% for cluster in clusters %}
        <option value="{{ cluster }}" {% if cluster == selected_cluster %}selected{% endif %}>{{ cluster }}</option>
        {% endfor %}
        {% endif %}
    </select>

    <label for="country">Select a Country to Highlight:</label>
    <select name="country" id="country" {% if not selected_cluster %}disabled{% endif %}>
        <option value="">--Select Country--</option>
        {% if selected_cluster %}
        {% for country in countries %}
        <option value="{{ country.country_description }}" {% if country.country_description == selected_country %}selected{% endif %}>
            {{ country.country_description }}
        </option>
        {% endfor %}
        {% endif %}
    </select>

    <button type="submit">Submit</button>
</form>

<img src="data:image/png;base64,{{ chart_base64 }}" alt="Process Comp Percentage per Country Chart" />

<h2>By Country</h2>
<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Region</th>
      <th>Cluster</th>
      <th>Process Comp Percentage</th>
    </tr>
  </thead>
  <tbody>
    {% for data in process_comp_data %}
    <tr>
      <td>{{ data.country }}</td>
      <td>{{ data.region }}</td>
      <td>{{ data.cluster }}</td>
      <td>{{ data.process_comp_percentage }}%</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>By Region</h2>
<table border="1">
    <thead>
        <tr>
            <th>Region</th>
            <th>Harmonization Percentage</th>
        </tr>
    </thead>
    <tbody>
        {% for result in region_results %}
        <tr>
            <td>{{ result.region }}</td>
            <td>{{ result.percentage }}%</td>
        </tr>
       {% endfor %}
    </tbody>
</table>

<h2>By Cluster</h2>
<table border="1">
    <thead>
        <tr>
            <th>Cluster</th>
            <th>Region</th>
            <th>Harmonization Percentage</th>
        </tr>
    </thead>
    <tbody>
        {% for result in cluster_results %}
        <tr>
            <td>{{ result.cluster }}</td>
            <td>{{ result.region }}</td>
            <td>{{ result.percentage }}%</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}