{% extends 'base.html' %}

{% block title %}Process Level 3 Percentage{% endblock %}

{% block content %}

<h2>ProcessValue Data</h2>

<table>
  <thead>
    <tr>
      <th>Category Level 1</th>
      <th>Process Group Level 2</th>
      <th>Process Level 3</th>
      <th>Subprocess Level 4</th>
      <th>Activity Level 5</th>
      <th>Task Level 6</th>
      <th>Standard/Local</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for process_tax_value in process_tax_values %}
    <tr>
      <td>{{ process_tax_value.category_level1 }}</td>
      <td>{{ process_tax_value.process_group_level2 }}</td>
      <td>{{ process_tax_value.process_level3 }}</td>
      <td>{{ process_tax_value.subprocess_level4 }}</td>
      <td>{{ process_tax_value.activity_level5 }}</td>
      <td>{{ process_tax_value.task_level6 }}</td>
      <td>{{ process_tax_value.standard_local }}</td>
      <td>
        <a href="{% url 'edit_process' process_tax_value.id %}">Edit</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div style="text-align: center; margin-top: 20px;">
  <a href="{% url 'add_process' %}" style="background-color: #00677F; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Add New Record</a>
</div>

<div id="bar_chart"></div>


{% endblock %}
