{% extends 'base.html' %}

{% block title %}Region Data{% endblock %}

{% block content %}
<center>
<h2>Region Data</h2>
</center>
<table>
  <thead>
    <tr>
      <th>Region</th>
      <th>Cluster</th>
      <th>Country</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for region_value in region_values %}
    <tr>
      <td>{{ region_value.region }}</td>
      <td>{{ region_value.cluster }}</td>
      <td>{{ region_value.country_description }}</td>
      <td>
        <a href="{% url 'edit_region' region_value.id %}">Edit</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div style="text-align: center; margin-top: 20px;">
  <a href="{% url 'add_region' %}" style="background-color: #00677F; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Add New Record</a>
</div>

{% endblock %}
